[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "locationgamer"]
	path = locationgamer
	url = https://github.com/maxcal88/locationgamer
